@import "./iconfont.css";

@font-face {
    font-family: 'local-file';
    src: url('./assets/fonts/font.woff');
}

* {
    user-select: none;
}

html, body, #app, .app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-family: 'local-file', 'Arial', 'Verdana', '微软雅黑', '黑体', 'serif';
}

p, h1, h2, h3, h4 {
    margin: 0;
}

div {
    box-sizing: border-box;
}

button, input, textarea {
    outline: none;
}

button {
    cursor: pointer;
}

div, p, span {
    color: #333;
}

body {overflow-y:hidden;}
body:hover {overflow-y:scroll;}

::-webkit-scrollbar {
    display: none;
}
.chat-messageList::-webkit-scrollbar, .dialog .rc-dialog-body::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 6px;
}
.code-viewer .rc-dialog-body::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.online {
    background-color: rgba(94, 212, 92, 1);
}
.offline {
    background-color: rgba(206, 12, 35, 1);
}

.show {
    display: block;
}
.hide {
    display: none !important;
}

.app {
    & > .blur {
        filter: blur(10px);
    }
    & > .child {
        
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);;
    }
}
/*border-radius: 10px;*/