.module-main-sidebar {
    width: 80px;
    background-color: var(--primary-color-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/

    .avatar {
        margin-top: 50px;
        cursor: pointer;
    }
    .status {
        position: absolute;
        top: 96px;
        left: 48px;
    }
    .tabs {
        margin-top: 50px;
    }
    .buttons {
        position: absolute;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .iconfont {
            color: var(--primary-text-color-7);
            transition: color 0.2s;
        }
        & > div, & > a {
            margin-top: 10px;
            &:hover {
                .iconfont {
                    color: var(--primary-text-color-10);
                }
            }
        }
        & > p {
            writing-mode: vertical-lr;
            color: var(--primary-text-color-8);
            font-size: 18px;
            letter-spacing: 6px;
            cursor: default;
        }
        & > i {
            font-size: 22px;
            color: var(--primary-text-color-8) !important;
            transform: translate(-2px, 5px);
        }
        & > a {
            text-decoration: none;
        }
    }
}

.module-main-sidebar-onlineStatus {
    width: 16px;
    height: 16px;
    background-color: var(--primary-color-8);
    /*border-radius: 50%;*/

    & > div {
        width: 12px;
        height: 12px;
        margin-top: 2px;
        margin-left: 2px;
        /*border-radius: 50%;*/
    }
}

.module-main-sidebar-singleCheckGroup {

}

.module-main-sidebar-singleCheckButton {
    @height: 80px;
    width: 80px;
    height: @height;
    text-align: center;
    cursor: pointer;

    .iconfont {
        font-size: 36px;
        line-height: @height;
        color: var(--primary-text-color-6);
        transition: color 0.2s;
    }
    &.focus {
        background-color: var(--primary-color-6);
        position: relative;
        .iconfont {
            color: var(--primary-text-color-10);
        }
        .line {
            position: absolute;
            width: 5px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(91, 211, 141, 1);
        }
        &:hover {
            background-color: var(--primary-color-6);
        }
    }
    &:hover {
        .iconfont {
            color: var(--primary-text-color-9);
        }
    }
}

.dialog {
    width: 500px !important;
    height: 80% !important;
    .rc-dialog-content {
        display: flex;
        flex-direction: column;
        height: 100%;;
    }
    .rc-dialog-body {
        flex: 1;
        background-color: #fafafa;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y: auto;
    }
    .content {
        & > div {
            margin-bottom: 14px;
            & > p {
                line-height: 33px;
                font-size: 14px;
                color: #333;
                font-weight: bold;

                .background-tip {
                    font-size: 12px;
                    color: #777;
                }
            }
            & > a {
                font-size: 14px;
            }
            & > ul {
                margin: 6px 0;
                padding-left: 26px;
                font-size: 14px;
                & > li {
                    height: 20px;
                }
            }
            & > .color-info {
                display: flex;
                align-items: center;
                & > div {
                    width: 30px;
                    height: 30px;
                    border-radius: 4px;
                    margin-left: 6px;
                }
                & > span {
                    margin-left: 12px;
                    color: #666;
                }
            }
            & > .color-picker {
                margin-top: 20px;
            }
            & > .image-preview {
                text-align: center;
                position: relative;
                & > img {
                    width: 98%;
                    height: auto;
                    cursor: pointer;

                    &:hover {
                        filter: blur(3px);
                    }
                }
                .blur {
                    filter: blur(3px);
                }
                .loading {
                    position: absolute;
                    top: 70px;
                    left: 175px;
                    pointer-events: none;
                }
            }
            & > .avatar-preview {
                & >img {
                    width: 100px;
                    height: 100px;
                    cursor: pointer;

                    &:hover {
                        filter: blur(3px);
                    }
                }
            }
            & > .switch {
                display: flex;
                align-items: center;

                & > p {
                    color: #444;
                    margin-right: 8px;
                    font-size: 14px;
                    &:nth-child(3), &:nth-child(5) {
                        margin-left: 20px;
                    }
                }
            }
            & > .sounds {
                & > div {
                    display: flex !important;
                    flex-wrap: wrap;
                    justify-content: center;
                    & > div {
                        width: 146px !important;
                        flex: initial !important;
                        padding: 12px !important;
                        &:nth-child(3) {
                            margin-right: 0 !important;
                            margin-bottom: 6px !important;
                        }
                        &:nth-child(1), &:nth-child(2),&:nth-child(3) {
                            margin-bottom: 6px !important;
                        }
                        & > div {
                            display: flex;
                            align-items: center;
                        }
                        & > div > div {
                            padding: 0 !important;
                            font-size: 14px;
                        }
                        & > div > div > div {
                            transform: translate(-2px, -2px);
                        }
                    }
                }
            }
            & > .buttons {
                & > button {
                    margin-right: 10px;
                    width: 120px;
                    height: 34px;
                }
            }
        }
    }
}
.selfInfo {
    height: initial !important;

    .avatar-preview {
        position: relative;
        .blur {
            filter: blur(3px);
        }
    }
    .loading {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
    }
}
.reward {
    width: 800px !important;
    height: initial !important;
    .content {
        & > p {
            color: #333;
            text-align: center;
            line-height: 34px;
        }
        & > div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0 30px;
            height: 375px;
            & > img {
                width: 250px;
                height: auto;
            }
        }
    }
}
.fiora-info {
    width: 600px !important;
    height: initial !important;
}